node_modules
distribution
.DS_Store
unity_project/**/[Ll]ibrary/
unity_project/**/[Tt]emp/
unity_project/**/ProjectSettings/
unity_project/**/UnityPackageManager/
unity_project/**/[Oo]bj/
unity_project/**/Assets/AssetStoreTools*
unity_project/**/.vs/
unity_project/**/ExportedObj/
unity_project/**/.consulo/
unity_project/**/*.csproj
unity_project/**/*.unityproj
unity_project/**/*.sln
unity_project/**/*.suo
unity_project/**/*.tmp
unity_project/**/*.user
unity_project/**/*.userprefs
unity_project/**/*.pidb
unity_project/**/*.booproj
unity_project/**/*.svd
unity_project/**/*.pdb
unity_project/**/*.opendb
unity_project/**/*.pidb.meta
unity_project/**/*.pdb.meta
unity_project/**/sysinfo.txt
unity_project/**/*.meta